 @*if (@TempData["Success"] == True)
                {
<script type="text/javascript">
    alert("Form successfully submitted");
    TempData["Success"] = false;
</script>
                }*@
    <body>
        <div class="container">
           

            <div class="row pb-5"style="padding-top:5rem;">
                <div class="col-md-4 mb-2">
                    <div class="category-card">
                        <div class="category-card-detiles">
                            <div class="category-card-front">
                                <div class="row">
                                    <div class="col-md-12 " style="height: 16rem;">
                                        <img src="~/img/customer.jpg"
                                             alt="Avatar" style="width:100%;height:100%;">
                                    </div>
                                    <div class="col-md-12 pt-2">
                                        <h1 class="category-card-title">Customer</h1>
                                        <p>Detiles ></p>
                                    </div>
                                </div>
                            </div>
                            <div class="category-card-back pt-3">
                                <div class="category-text-back top-first-child" style="">
                                    <p>Serch customer</p>
                                    <p>And</p>
                                    <p>Detiles And Add Customer</p>
                                </div>
                                <a class="category-card-link" href="~/Customers/Search">Go</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="category-card">
                        <div class="category-card-detiles">
                            <div class="category-card-front">
                                <div class="row">
                                    <div class="col-md-12" style="height: 16rem;">
                                        <img src="~/img/single-invoice-header.jpg" alt="Avatar"
                                             style="width:100%;height:100%;">
                                    </div>
                                    <div class="col-md-12 pt-2">
                                        <h1 class="category-card-title">Cash Voucher</h1>
                                        <p>Detiles ></p>
                                    </div>
                                </div>

                            </div>
                            <div class="category-card-back pt-3">

                                <div class="category-text-back top-seconed-and-third-child" style="">
                                    <p>Create Cash Voucher</p>
                                </div>
                                <a class="category-card-link" href="~/GlCashVoucherCashes/Create">Go</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="category-card">
                        <div class="category-card-detiles">
                            <div class="category-card-front">
                                <div class="row">
                                    <div class="col-md-12" style="height: 16rem;">
                                        <img src="~/img/home-water-filtration.jpg" alt="Avatar"
                                             style="width:100%;height:100%;">
                                    </div>
                                    <div class="col-md-12 pt-2">

                                        <h1 class="category-card-title">Invoice</h1>
                                        <p>Detiles ></p>

                                    </div>
                                </div>
                            </div>
                            <div class="category-card-back pt-3">
                                <div class="category-text-back top-seconed-and-third-child" style="">

                                    <p>Create Invoice</p>
                                </div>
                                <a class="category-card-link" href="~/ArApInvoiceTemps/Create">Go</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                @if (ViewBag.Msgg == 1)
                {
                    <div class="form-group">
                        <div class="alert alert-success alert-dismissable fade-in" id="success-alert">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>تم الحفظ بنجاح</strong>
                        </div>
                    </div>
                }
            </div>
            
        </div>


        <script src="~/Scripts/site.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>

        <script>
            $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
                $("#success-alert").slideUp(500);
            });
        </script>
    </body>